/* About/bio section */
.about__logo {
    height: 1.5rem;
}

.about__title {
    display: inline;
    vertical-align: top;
}

.about__title::before {
    content: none;
}

/* Scale the image */
.aside__photo img {
  display: block;    /* removes the little baseline gap */
  width: 60%;        /* fill the width of its parent (.aside__photo) */
  height: auto;      /* preserve aspect ratio */
  object-fit: cover; /* optional—will crop/scale to fill if you want no letter‑boxing */
}

/* Social media links */
.aside__social-links {
    padding: 0;
}

.aside__social-links li {
    display: inline-block;
}

.aside__social-links li::marker {
    content: none;
}
